<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <iframe src="https://www.instagram.com/p/BnVyzZaA0M_/embed" width="400" height="480" frameborder="0"
                    scrolling="no" allowtransparency="true"></iframe>
            <div class="carousel-caption">
            </div>
        </div>
        <div class="item">
            <iframe border=0 frameborder=0
                    src="https://twitframe.com/show?url=https://twitter.com/LFC/status/1035212062778114048?ref_src=twsrc%5Etfw"></iframe>
            <div class="carousel-caption">
            </div>
        </div>
        <div class="item">
            <iframe width="854" height="510" src="https://embed.indavideo.hu/player/video/e7f33bea0f" frameborder="0" allowfullscreen scrolling="no"></iframe>
            <!--<video src="https://embed.teamcoco.com/embed/v/104496" controls crossorigin="anonymous"><p>Your browser does not support the video tag.</p></video>-->
            <div class="carousel-caption">
            </div>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="icon-prev" aria-hidden="true"></span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="icon-next" aria-hidden="true"></span>
    </a>
</div>
